
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/layer/layer.js"></script>

    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/layer/skin/layer.css" rel="stylesheet" />


</head>
<body>
    <h1 class="text-center">测试</h1>
    <div>@RenderBody()</div>
</body>
</html>
